<div id="brand_list">
	<h1>verfügbare Drucke</h1>

	<table>

		<% @prints.each do |print| %>
		<tr>
			<td> <%= image_tag(print.print_url, :class => 'list_image') %> </td>

			<td id="gross">
			<dl>
				<dt>
					<%= print.name %>
					<br />
				</dt>
				Preis: <%= number_to_currency(print.print_price, :unit=>'€') %>
			</dl><%= button_to 'in den Warenkorb', line_items_path(:print_id => print) %> </td></td>

			<td id="klein"><%= link_to 'zeige', print %>
			<br />
			<%= link_to 'editiere', edit_print_path(print) %>
			<br />
			<%= link_to 'lösche', print, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
		<% end %>
	</table>
</div>
<br />
<div id="klein">
	<%= link_to 'neuer Druck', new_print_path %>
</div>

