<%= form_for(@article) do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div id="article_gross">
	<div class="field">

		<%= f.collection_select :name, Article.find(:all, :order => :name), :id, :name,  { :prompt => 'Bezeichnung' } %> oder neue
		<%= f.label 'Bezeichnung: ' %>
		<%= f.text_field :name %>
	</div>
	<br />
	<div class="field">
		<%= f.label 'Motiv url: ' %>
		<%= f.text_field :article_url %>
	</div>

	<br />

	<div class="actions">
		<%= f.submit %>
	</div>
</div>
<br />
<% end %>

