<%= form_for(@article) do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div id="gross">
	<div class="field">

		<%= f.collection_select :name, Article.find(:all, :order => :name), :id, :name,  { :prompt => 'Bezeichnung' } %> oder neue
		<%= f.label 'Bezeichnung: ' %>
		<%= f.text_field :name %>
	</div>
	<br />
	<div class="field">
		<%= f.label 'Bild 1:' %>
		<%= f.text_field :pic1, :size=>'50x30' %>
		<br />
		<%= f.label 'Bild 2:' %>
		<%= f.text_field :pic2, :size=>'50x30' %>
		<br />
		<%= f.label 'Bild 3:' %>
		<%= f.text_field :pic3, :size=>'50x30' %>
		<br />
		<%= f.label 'Bild 4:' %>
		<%= f.text_field :pic4, :size=>'50x30' %>
		<br />
		<%= f.label 'Bild 5:' %>
		<%= f.text_field :pic5, :size=>'50x30' %>
	</div>

	<br />

	<div class="actions">
		<%= f.submit %>
	</div>
</div>
<br />
<% end %>

