<div id="gross">
	<br />
	<%= image_tag(@article.article_url, :class => 'list_image') %>
<br />
	<b>Name:</b>
	<%= @article.name %>
<br />
	<b>Size:</b>
	<%= @article.size.name %>
<br />
	<b>Color:</b>
	<%= @article.color.name %>
	<br /><br />
</div>
<div id="klein">
	<%= link_to 'editiere', edit_article_path(@article) %> |
	<%= link_to 'zurück', articles_path %>
</div>