<div>
	<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "Fehler:") %>
		User konnte nicht gespeichert werden</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div id="gross">
		<fieldset class="bestellung">
			<legend>
				Lege deinen Namen & Passwort an:
			</legend>
			<table>
				<td width="110px"> <%= f.label 'Benutzername:' %>
				<br/>
				<br/>
				<%= f.label 'Passwort: ' %>
				<br/>
				<br/>
				<%= f.label 'Passwort bestätigen: ' %> </td>
				<td> <%= f.text_field :name, :size => 30 %>
				<br/>
				<br/>
				<%= f.password_field :password, :size => 30 %>
				<br/>
				<br/>
				<%= f.password_field :password_confirmation, :size => 30 %> </td>
			</table>
			<br />
			<%= f.submit 'Daten speichern' %>
		</fieldset>
	</div>
	<% end %>
</div>
