<div class="depot_form">

	<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "Fehler:") %>
		User konnte nicht gespeichert werden</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<fieldset id="gross">
		<legend>
			Lege deinen Namen & Passwort an:
		</legend>
		<table >
			<td> <%= f.label :name %>:
			<br/>
			<%= f.label :password, 'Passwort' %>:
			<br/>
			<%= f.label :password_confirmation, 'Passwort bestätigen' %>: </td>
			<td> <%= f.text_field :name, :size => 30 %>
			<br/>
			<%= f.password_field :password, :size => 30 %>
			<br/>
			<%= f.password_field :password_confirmation, :size => 30 %> </td>
		</table>
		<%= f.submit %>
	</fieldset>
	<% end %>
</div>
