<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>

<div id="brand_list">
	<h1>User</h1>

	<table id="gross">
		<% @users.each do |user| %>
		<tr>
			<td class="list_description"><b>Name:</b> <%= user.name %></td>

			<td id="klein"><%= link_to 'zeige', user %>
			<%= link_to 'editiere', edit_user_path(user) %>
			<%= link_to 'lösche', user, :confirm => 'Are you sure?',
			:method => :delete %></td>
		</tr>
		<% end %>
	</table>
	<br />
	<div id="klein">
		<%= link_to 'neuen Benutzer anlegen', new_user_path %>
	</div>
</div>