<p>
	<b>Name:</b><%= @user.name %>
</p>

<p>
	<b>Hashed password:</b><%= @user.hashed_password %>
</p>

<p>
	<b>Salt:</b><%= @user.salt %>
</p>

<%= link_to 'editiere', edit_user_path(@user) %> |
<%= link_to 'zurück', users_path %>
