<p id="gross">
	<b>Name: </b><%= @user.name %>
	<br />
	<br />
	<b>Hashed password: </b><%= @user.hashed_password %>
	<br />
	<br />
	<b>Salt: </b><%= @user.salt %>
</p>
<div id="klein">
	<%= link_to 'editiere', edit_user_path(@user) %> |
	<%= link_to 'zurück', users_path %>
</div>