<br />

<h1>Bestellungen</h1>

<div id="gross">
	<table>
		<tr align="left">
			<th>#</th>
			<th>Name</th>
			<th>Adresse</th>
			<th>Email</th>
			<th>Zahlungsweise</th>
			<th></th>
		</tr>
		
		<tr>
			<% @orders.each do |order| %>
			<td width=40px><%= order.id %></td>
			<td width=150px><%= order.name %></td>
			<td width=150px><%= order.address %></td>
			<td width=150px><%= order.email %></td>
			<td width=80px><%= order.pay_type %></td>

			<td id="klein"> <%= link_to 'zeige', order %>
			<%= link_to 'editiere', edit_order_path(order) %>
			<%= link_to 'lösche', order, method: :delete, data: { confirm: 'Wirklich löschen?' } %> </td>
			<% end %>
	</table>
	<br />
	<%= will_paginate @orders %>
</div>

<br />

<div id="klein">
	<%= link_to 'zurück zum Shop', store_path %>
</div>
<br />
