<h1>Bestellungen</h1>

<div id="gross">
	<table>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Adresse</th>
			<th>Email</th>
			<th>Zahlungsweise</th>
			<th></th>

		</tr>

		<% @orders.each do |order| %>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.name %></td>
			<td><%= order.address %></td>
			<td><%= order.email %></td>
			<td><%= order.pay_type %></td>

			<td id="klein"> <%= link_to 'zeige', order %>
			<%= link_to 'editiere', edit_order_path(order) %>
			<%= link_to 'lösche', order, method: :delete, data: { confirm: 'Are you sure?' } %> </td>

			<% end %>
	</table>
	<br />
	<%= will_paginate @orders %>
</div>
<br />
<div id="klein">
	<%= link_to 'zurück zum Shop', store_path %>
</div>