<h1>Bestellung #<%= @order.id %></h1>

<table id="order_gross">
	<tr>
		<br />
		<td><b>Name:</b>
		<br />
		<br />
		<b>Adresse:</b>
		<br />
		<br />
		<b>Email:</b>
		<br />
		<br />
		<b>Zahlungsweise:</b></td>

		<td> <%= @order.name %>
		<br />
		<br />
		<%= @order.address %>
		<br />
		<br />
		<%= @order.email %>
		<br />
		<br />
		<%= @order.pay_type %> </td>
	</tr>
</table>

<br />
<div id="order_klein">
	<%= link_to 'editiere', edit_order_path(@order) %> |
	<%= link_to 'zurück', orders_path %>
</div>