<div align="right">
	<table>
		<tr>
			<% if session[:user_id] %>
			<%= button_to 'Logout', logout_path, :method => :delete, :data => {:confirm => 'Bist du sicher?'} %>
			<% else %>
			<%= button_to 'Login', login_path, :method => :create %>
			<% end %>
		</tr>
		<tr>
			<div id="klein">
				<%= link_to 'anmelden', new_user_path %>
			</div>
		</tr>
	</table>
</div>

<div class="entry">

	<h2>Warenkorb</h2>

	<table>
		<%= render(cart.line_items) %>
		<tr class="total_line">
			<td colspan="2">Gesamtpreis:</td>
			<td class="total_cell"><%= number_to_currency(cart.total_price, :unit=>'€') %></td>
		</tr>
	</table>

	<br/>
	<%= button_to "Checkout", new_order_path, :method => :get %>
	<%= button_to 'Warenkorb leeren', cart, :method => :delete, :data => {:confirm => 'Bist du sicher?'} %>

</div>