<%= form_for(@producer) do |f| %>
<% if @producer.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@producer.errors.count, "error") %> prohibited this producer from being saved:</h2>

	<ul>
		<% @producer.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div id="gross">
	<div class="field">
		<%= f.label :brand %>
		<br />
		<%= f.select :brand_id,
      [
        ['Armed Angels & Friend',2],
        ['Continental',1],
        ['Earth Posivite Apparel','5'],
        ['Epona Clothing','3'],
        ['Living Crafts','6'],
        ['Pants To Poverty','7'],
        ['Recolution','8'],
        ['Tee Jays','9'],
        ['Wombat Clothing','4']
      ] %>
	</div>
	<br />
	<div class="field">
		<%= f.label :description %>
		<br />
		<%= f.text_area :description %>
	</div>
	<br />
	<div class="actions">
		<%= f.submit 'Herstellerprofil speichern' %>
	</div>
</div>
<% end %>
