<div id="brand_list">
	<h1>Herstellerprofile</h1>

	<div id="gross">
		<table>
			<% @producers.each do |producer| %>
			<tr>
				<th></th>
				<th align="left">Hersteller: <%= producer.brand.name %> </th>
				<th></th>
				<th></th>
			</tr>

			<tr>
				<td width="140px"> <%= image_tag(producer.brand.logo_url, :class => 'list_image') %> </td>
				<td width="600px"><%= producer.description %></td>
				<td width="20"></td>
				<td id="klein" align="right"> <%= link_to 'Show', producer %>
				<br />
				<%= link_to 'Edit', edit_producer_path(producer) %><br
				<%= link_to 'Destroy', producer, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<br />
<div id="klein">
	<%= link_to 'Neues Herstellerprofil anlegen', new_producer_path %>
</div>