<div id="brand_list">
	<br />

	<table>
		<tr>
			<div>
				<%= image_tag(@producer.brand.logo_url, :class => 'list_image') %>
			</div>
		</tr>
		<tr>
			<h1><%= @producer.brand.name %></h1>
			<div id="gross">
				<%= @producer.description %>
				<br />
				<br />
				<b>FairTrade Siegel:</b>
				<br />
				<% if @producer.avatar.file? %>
				<%= image_tag @producer.avatar.url %>
				<%= image_tag @producer.avatar.url(:medium) %>
				<%= image_tag @producer.avatar.url(:thumb) %>
				<% else %>
				kein FairTrade-Siegel hochgeladen!
				<% end %>
			</div>
		</tr>
	</table>
	<br />

	<div id="klein">
		<%= link_to 'editiere', edit_producer_path(@producer) %> |
		<%= link_to 'zurück', producers_path %>
	</div>
</div>

