<div id="brand_list">
	<h1>Hersteller</h1>

	<table>
		<% @brands.each do |brand| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td width="170px"> <%= link_to image_tag(brand.logo_url, :class => 'list_image'), brand %> </td>

			<td class="list_description">
			<dl>
				<dt>
					<%= brand.name %>
				</dt>
				<br />
				<dd id="klein">
					<%= raw truncate((brand.info_text), :length => 250) %>
					<br />
					<b><%= link_to '[mehr Infos]', brand %></b>
				</dd>

			</dl></td>

			<td id="klein"> <%= link_to 'zeige', brand %>
			<br />
			<%= link_to 'editiere', edit_brand_path(brand) %>
			<br />
			<%= link_to 'lösche', brand, :data => {:confirm => 'Bist du sicher?'},
			:method => :delete %> </td>
		</tr>
		<% end %>
	</table>

	<div id ="klein">
		<br />
		<%= link_to 'neue Marke hinzufügen', new_brand_path %>
	</div>
</div>
