<br />

<%= image_tag (@brand.logo_url) %>

<h1> <%= @brand.name %> </h1>

<div id="brand_gross">
	<%= raw @brand.info_text %>
</div>

<br />

<div id="brand_klein">
	<%= link_to 'editiere', edit_brand_path(@brand) %> |

	<%= link_to 'zurück', brands_path %>
</div>