<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Name:</b>
	<%= @brand.name %>
</p>

<p>
	<b>Herkunft:</b>
	<%= strip_tags(@brand.origin) %>
</p>

<p>
	<b>Logo url:</b>
	<%= @brand.logo_url %>
</p>

<p>
	<b>Rating:</b>
	<%= @brand.rating %>
</p>

<p>
	<b>Information:</b>
	<%= @brand.info_text %>
</p>


<%= link_to 'editiere', edit_brand_path(@brand) %> |

<%= link_to 'zurück', brands_path %>
