<br />

<div align="center" ">
	
<p>
	<%= image_tag (@brand.logo_url) %>
</p>
<h1> <%= @brand.name %> </h1>
</div>
<div id="gross">


	<p>
		<%= raw @brand.info_text %>
	</p>
</div>

<div id="klein">
	<%= link_to 'editiere', edit_brand_path(@brand) %> |

	<%= link_to 'zurück', brands_path %>
</div>