<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>

<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

	<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div id="gross">
	<div class="field">
		<%= f.label :brand_id %>: <%= f.select :brand_id,
      [
        ['Armed Angels & Friend',2],
        ['Continental',1],
        ['Earth Posivite Apparel',5],
        ['Epona Clothing',3],
        ['Living Crafts',6],
        ['Pants To Poverty',7],
        ['Recolution',8],
        ['Tee Jays',9],
        ['Wombat Clothing',4]
      ] %>
	</div>
	<br />
	<div class="field">
		<%= f.label :article_id %>
		:
		<%= f.select :article_id,
      [
        ['T-Shirt Freizeit (gelb, S)',1],
        ['T-Shirt Arbeit (schwarz, XXL)',2],
        ['T-Shirt Arbeit (orange, M)',3],
        ['T-Shirt Girlie (weiss, XS)',4],
        
      ] %>
	</div>
	
	<br />
	
	
	<div class="field">
		<%= f.label :product_price %>: <%= f.number_field :product_price %>
	</div>
</div>
<br />

<div class="actions">
	<%= f.submit %>
</div>
<br />
<% end %>


