<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>

<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

	<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div id="gross">
	<div class="field">
		<%= f.label 'Hersteller:' %>
		<%= f.select :brand_id,
      [
        ['Bleed Organic Clothing',1],
        ['Knowledge Cotton Apparel',2],
        ['Pants To Poverty',3],
        ['Recolution',4],
        ['Thokk Thokk',5]
      ] %>
	</div>
	<br />

	<div class="field">
		<%= f.label 'Artikel:' %>
		<%= f.select :article_id,
      [
        ['T-Shirt gelb (weiblich)',1],
        ['T-Shirt gelb (männlich)',2],
        ['T-Shirt orange (weiblich)',3],
        ['T-Shirt orange (männlich)',4],
        ['T-Shirt schwarz (weiblich)',5],
        ['T-Shirt schwarz (männlich)',6],
        ['T-Shirt weiss (weiblich)',7],
        ['T-Shirt weiss (männlich)',8]
      ] %>
	</div>
	<br />
	<div class="field">
		<%= f.label 'Größe:' %>
		<%= f.select :size_id,
      [
        ['XXXS',1],
        ['XXS',2],
        ['XS',3],
        ['S',4],
        ['M',5],
        ['L',6],
        ['XL',7],
        ['XXL',8],
        ['XXXL',9],

      ] %>
		<br />
		<br />
		<%= f.label 'Farbe:' %>
		<%= f.select :color_id,
      [
        ['blau',1],
        ['gelb',2],
        ['grün',3],
        ['rot',4],
        ['schwarz',5],
        ['weiss',6],
        ['orange',7],
      ] %>
	</div>

	<br />

	<div class="field">
		<%= f.label 'Preis:' %> <%= f.number_field :product_price %>
	</div>
</div>
<br />

<div class="actions">
	<%= f.submit %>
</div>
<br />
<% end %>

