<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_id %><br />
    <%= f.number_field :brand_id %>
  </div>
  <div class="field">
    <%= f.label :info_id %><br />
    <%= f.number_field :info_id %>
  </div>
  <div class="field">
    <%= f.label :info_text %><br />
    <%= f.text_area :info_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
