<h1>Produkte des Herstellers</h1>

<div id="gross">
	<table>
		<tr >
		<%#	<%= select("Grösse", "size_id", Size.all.collect(&:name), :prompt => 'Größe') %>			
		<%#	<%= select( "farbe", "color_id", Color.find(:all).map { |u| [u.name, u.id]}, :prompt => 'Farbe') %>
			
			<br />
			<% @products.each do |product| %>
			
			<td>
				<%= image_tag(product.article.article_url, :class => 'list_image') %></td>
			<td class="list_description"><b>Marke:</b> <%= product.brand.name %>
			<br />
			<b>Typ:</b> <%= product.article.name %>
			<br />
			<b>Größe:</b> <%= product.article.size.name %>
			
			<br />
			<b>Farbe:</b> <%= product.article.color.name %>

			
			<br />
			<b>Preis:</b> <%= number_to_currency(product.product_price, :unit=>'€') %>
			<%= button_to 'in den Warenkorb', line_items_path(:product_id => product) %>
			<br/>
			</td>

			<td id="klein"> <%= link_to 'zeige', product %>
			<br />
			<%= link_to 'editiere', edit_product_path(product) %>
			<br />
			<%= link_to 'lösche', product, :data => {:confirm => 'Bist du sicher?'}, method: :delete %> </td>
		</tr>

		<% end %>
	</table>
</div>

<div id="klein">
	<%= link_to 'Neues Produkt anlegen', new_product_path %>
</div>
<br />
<div id="gross" align="center">
	<%#= will_paginate @brands %>
</div>
