<div id="brand_list">

	<p id="gross">
		<br />
		<h1><%= @product.article.name %></h1>
		
		<table>
			<td>
				<%= image_tag @product.article.article_url %>
				<br />
				<b>Preis:</b> <%= number_to_currency(@product.product_price, :unit=>'€ ') %>
				<br /><br />
				<%= button_to 'in den Warenkorb', line_items_path(:product_id => @product.id) %>
			</td>
			<td>
				
				<b>Hersteller: </b><%= @product.brand.name %>
				<br /><br />

				<b>Größe:</b> <%= @product.size.name %>
				<br /><br />
				<b>Farbe:</b> <%= @product.color.name %>
				<br /><br />
				<b>Beschreibung:</b><br /> <%= raw @product.description %>
				
			</td>
		</table>
		
	</p>
	<p id="klein">
		<%= link_to 'editiere', edit_product_path(@product) %> |
		<%= link_to 'zurück', products_path %>
	</p>
</div>
