<% if notice %>
<p id="notice" >
	<%= notice %>
</p>
<% end %>

<h1>unsere Hersteller</h1>
<div class="entry" >
	<div id="gross">
		sortiert nach:
		<%= button_to 'Ranking', store_path(:sort_by => 'rating DESC') %>
		<%= button_to 'Marke', store_path(:sort_by => 'name') %>
		<%= button_to 'Herkunft', store_path(:sort_by => 'origin') %>
	</div>
</div>
<br />

<% @brands.each do |brand| %>

<div class="entry">
	<table>
		<td> <%= image_tag(brand.logo_url) %></td>
		<td><h3><%= brand.name %></h3><span class="origin"> Herkunft: <%= strip_tags(brand.origin) %> </span>
		<br />
		<span class="rating"> FairTrade-Rating: <%= brand.rating %> </span>
		<br />
		<span class="infotext"> <%= brand.info_text %>
			<br />
			<br />
			<%= link_to "alle Produkte zeigen", products_path(:brand_id => brand) %>
			<%= link_to "Herstellerprofil", producers_path(params[:brand_id]) %> </span>
			</td>
	</table>
</div>
<br />
<% end %>
<div id="gross" align="center">
	<%= will_paginate @brands %>
</div>
