<% if notice %>

<% end %>

<h1>unsere Hersteller</h1>
<div class="entry">
	sortiert nach:
	<%= button_to 'Ranking', store_path(:sort_by => 'rating DESC') %>
	<%= button_to 'Marke', store_path(:sort_by => 'name') %>
	<%= button_to 'Herkunft', store_path(:sort_by => 'origin') %>
</div>

<% @brands.each do |brand| %>

<div class="entry">

	<br />
	<%= image_tag(brand.logo_url) %>

	<h3><%= brand.name %></h3>

	<span class="origin"> Herkunft: <%= strip_tags(brand.origin) %> </span>

	<div class="rating_line">
		<span class="rating"> FairTrade-Rating: <%= brand.rating %> </span>
	</div>

	<br />

	<span class="infotext"> <%= brand.info_text %>
		<br />
		<br />
		<%= link_to "alle Produkte zeigen", :controller => :article, :action => :index %></span>

	<br />
	<br />
</div>
<% end %>
