<!DOCTYPE html>
<html>
	<head>
		<title>Schlüsselkind</title>
		<%= stylesheet_link_tag 'application' %>
		<%= stylesheet_link_tag 'admin' %>
		<%= stylesheet_link_tag 'brands' %>
		<%= stylesheet_link_tag 'articles' %>
		<%= stylesheet_link_tag 'products' %>
		<%= stylesheet_link_tag 'carts' %>
		<%#= javascript_include_tag 'brands' %>
		<%= csrf_meta_tag %>
	</head>

	<body id="store">

		<div id="banner", align="center">
			<%= image_tag("sk_logo.jpg") %>
		</div>

		<div id="menu", align="center">
			<%= link_to "Startseite", store_path() %>&nbsp;&nbsp;
			<%= link_to "Mädels", products_path(:filter_gender => 'female') %>&nbsp;&nbsp;
			<%= link_to "Jungs", products_path(:filter_gender => 'male') %>&nbsp;&nbsp;
			<%= link_to "Accessoirs", products_path(:filter_gender => 'accessoirs') %>&nbsp;&nbsp;
			<%= link_to "Marken", brands_path() %>&nbsp;&nbsp;
			<a href="">Impressum&nbsp;&nbsp;</a>
		</div>

		<div id="side">
			<div id="cart">
				<%= render @cart %>
			</div>
		</div>

		<div id="main">
			<%= yield %>
		</div>
		<br />

		<div id="foot", align="center">
			FAIR TRADE SEIT 2007
		</div>
	</body>
</html>
