<!DOCTYPE html>
<html>
	<head>
		<title>Schlüsselkind</title>
		<%= stylesheet_link_tag 'brand' %>
		<%= javascript_include_tag 'brands' %>
		<%= csrf_meta_tags %>
	</head>

	<body id="store">

		<div id="banner", align="center">
			<%= image_tag("sk_logo.jpg") %>
		</div>

		<div id="menu", align="center">
			<a href="../store/index">Start&nbsp;&nbsp;</a>
			<a href="../products">Produkte&nbsp;&nbsp; </a>
			<a href="../prints">Drucke&nbsp;&nbsp; </a>
			<a href="../brands">Marken&nbsp;&nbsp; </a>
			<a href="../orders">Bestellungen&nbsp;&nbsp;</a>
			<a href="../users">Kunden&nbsp;&nbsp;</a>
			<a href="../producers/new">Herstellerprofil anlegen&nbsp;&nbsp;</a>
		</div>

		<div id="side">
			<div id="cart">
				<%= render @cart %>
			</div>
		</div>

		<div id="main">
			<%= yield %>
		</div>
		<br />

		<div id="foot", align="center">
			FAIR TRADE & TEXTILDRUCK SEIT 2007
		</div>
	</body>
</html>
