<!DOCTYPE html>
<html>
	<head>
		<title>Schl체sselkind</title>
		<%= stylesheet_link_tag 'application' %>
		<%= stylesheet_link_tag 'admin' %>
		<%= stylesheet_link_tag 'brands' %>
		<%= stylesheet_link_tag 'articles' %>
		<%= stylesheet_link_tag 'products' %>
		<%= stylesheet_link_tag 'carts' %>
		<%= stylesheet_link_tag 'store' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag "main" %>
		<%= csrf_meta_tag %>
	</head>

	<body>

		<div id="banner", align="center">
			<%= image_tag("sk_logo.jpg") %>
		</div>

		<div id="menu">
			<div align="center">
				<%= link_to "Startseite", store_path() %>&nbsp;&nbsp;
				<%= link_to "M채dels", products_path(:filter_gender => 'female') %>&nbsp;&nbsp;
				<%= link_to "Jungs", products_path(:filter_gender => 'male') %>&nbsp;&nbsp;
				<%= link_to "Accessoires", products_path(:filter_gender => 'accessoires') %>&nbsp;&nbsp;
				<%= link_to "Marken", brands_path() %>&nbsp;&nbsp;
				<a href="#">Impressum&nbsp;&nbsp;</a>
				<a onMouseOver="aufklappenGirl()" onMouseOut="zuklappenGirls()" href="#">M채dels &nbsp;&nbsp;</a>
			</div>

			<div onMouseOver="aufklappenGirl()" onMouseOut="zuklappenGirls()" id="girls">
				<p id="dropDownMenuGirls">
					Shirts
				<br />
				<a href="#">Hoodies</a>
				<br />
				<a href="#">W채sche</a>
				</p>
			</div>
		</div>

		<%= render @cart %>

		<div id="main">
			<%= yield %>
		</div>
		<br />

		<div id="foot", align="center">
			FAIR TRADE SEIT 2007
		</div>

	</body>
</html>

